@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap');

/*Core style*/
body{
    margin: 0;
    font-family: Helvetica, sans-serif; /*the fonttype (same as in xd*/
    text-align: center; /*puts the text in the center*/
    font-size: 1.1em; /*the main size of the font*/
    line-height: 1.5; /*length between lines*/
    background: #fff; /*background color*/
    color: #ffffff; /*text color*/
}

/*Navigation*/
header{
    position: absolute; /*makes it visible, without this, the nav bar would just have the same color as the background*/
    top: 0; /*does so thhere is no white space on the top*/
    left: 0; /*placement of the navbar*/
    padding: 0 100px; /*placement of the nav-bar*/
    background: #151515; /*background color of the nav bar*/
    width: 100%; /*how much the nav bar should fill of the screen in width*/
    box-sizing: border-box; /*turns it into boxes*/
}

/*logo in the navigation*/
header .logo{
    color: #FCB905; /*font color in nav-bar*/
    height: 50px; /*height of the nav-bar*/
    line-height: 50px; /*lineheight in the nav-bar*/
    font-size: 18px; /*size of the font*/
    float: left; /*placement of the name in the nav-bar (Lucas Bendix Jolibois Portfolio)*/
    font-weight: bold; /*makes the text bold in the name of the nav*/
}

/*push the menu options to the right*/
header nav{
    float: right; /*pushes the navigation options to the right*/
}

/*display flex*/
header nav ul{
    margin: 0; /*removes margin*/
    padding: 0; /*removes padding*/
    display: flex; /*dispay flex puts the navigation enxt to eachother in a line*/
}

/*removed liststyle*/
header nav ul li{
    list-style: none; /*does so that it isnt displayed in a list style*/
}

/*adapted the menu optiosn to the nav bar on desktop*/
header nav ul li a{
    height: 50px; /*height of the nav*/
    line-height: 50px; /*lineheight of the bar*/
    padding: 0 20px; /*padding between nav menu options*/
    color: #fff; /*color of nav*/
    text-decoration: none; /*no text decoration*/
    display: block; /*displays it as a block around the different nav options*/
}

/*added a hover effect and a location effect*/
header nav ul li a:hover,
header nav ul li a.active{
    color: #FCB905; /*turnes the text on nav orange when hover is activated*/
    background: #000000; /*turnes the background on nav black when hover is activated*/
}

/*added the bruger menu to the menubare and removed it for desktop*/
.burger-menu{
    color: #fff; /*white burger menu*/
    float: right; /*pushes the burger menu to the right*/
    line-height: 50px;
    font-size: 24px;
    cursor: pointer; /*shows that it is clickable*/
    display: none; /*removes the visibility of the bruger menu when its on desktop*/
}

/*BTN*/
.btn{
    text-decoration: none; /*removes text decoration on the button so that it doesnt look like a standart a*/
    background: #FCB905; /*adds a background to the button*/
    display: inline-block; /*doesnt so thatit is inline and in blockstyle so that there is space around it*/
    color: #ffff; /*color of button*/
    padding: 0.7375em 0.85em; /*the padding of the button on top button and sides*/
    border-radius: 2em; /*the border radius whihc is that gives it the round corners*/
    font-size: 9.6px; /*size of the button*/
    margin: 0.5em 0; /*location of the button*/
    padding-bottom: 0.7375em; /*gives it abit of space at the bottom*/
}

.btn:hover{
    color: #FCB905; /*adds a hover effect which makes hte button orange*/
    background: #111111; /*gives it black text*/
}

/*styling for the second button*/
.btn2{
    text-decoration: none;
    background: #FCB905;
    display: inline-block;
    color: #ffff;
    padding: 0.7375em 0.85em;
    border-radius: 2em;
    font-size: 9.6px;
    margin: 0.5em 0;
    padding-bottom: 0.7375em;
}

/*adds a hover effect to the second button*/
.btn2:hover{
    color: #FCB905;
    background: #111111;
}

/*SECTION A*/
#section-a{
    min-height: 328px; /*minimum height of the section a with text and backgroudn pic (this is the height from the section and the the picture itself)*/
    color: #D8D3C7; /*text color*/
    text-align: left; 
    line-height: 0.4375em; /*the line height is section a*/
}

/*background*/
#section-a .bg-image{
    position: absolute; /* makes the position absolute as it is supposed to be a background image*/
    background-image: url("me1.png"); /*the image for the background*/
    display: block; /*turns it into a block again*/
    background-color: #333333;
    background-position: center; /*centers the background*/
    background-repeat: no-repeat; /*no repeat as i only want it once in section a*/
    background-size: cover; /*i want it to cover the section within the given height*/
    margin-top: 50px; /*giv it a margin top so that it isnt behind the nav bar*/
    width: 100%; /*WANT IT TO FILL 100% of the width of the screen*/
    height: 328px; /*height of the background so that it isnt too zoomed out and so that it covers the given section the way that it should*/
    z-index: -1; /*puts the background behind rather than infront*/
    opacity: 1; /*so that it is visible*/
    }
    
    .content-text{
    padding-top: 265px; /*gives it the placement on the screen that it need to look as on the xd mockup*/
    margin-left: 20px;
    text-align: center; /*centers the text*/
    font-size: 16px;
}

    #section-a h1{

        padding-bottom: 0;
        font-size: 0.9em;
        font-family: Helvetica, sans-serif;
        font-weight: normal; /*so that it has a normal fonttype*/
    }
    
    #section-a .content-wrap{
        padding: 0 1.5em;
    }  

    /*SECTION-B*/
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-b{
        background-color: #fff;
    }

    .container h1{
        font-size: 1.2rem;
        font-weight: lighter; /*gives the font a lighter look rather than bolder*/
        letter-spacing: 0.1rem;
        text-align: center;
        overflow: hidden; /*hides it so that you dont see everything all at once*/
        padding: 1rem; /*padding of top and bottom*/
        color: #252525;
    }

    /*the orange text that is being typed*/
    .typed-text{
        font-weight: lighter; 
        color: #FCB905;
    }

    /*the blink type animation*/
    .writting-cursor{
        display: inline-block; /*makes the blinking animation less thick*/
        width: 3px;
        background-color: #151515;
        margin-left: 0.1rem;
        animation: blink 1s infinite; /*makes it blink for 1sec infinitly so that it won't ever stop*/
    }

    .writting-cursor.typing{
        animation: none;
    }

    /*here i define the apearance of the blinking type animation fro section b*/
    @keyframes blink{
        0% { background-color: #151515;} /*0% of the 1s it will be white*/
        49% { background-color: #151515;}
        50% { background-color: transparent;} /*50% of the animation of the one second it will be transparent which will make it blink*/
        99% { background-color: transparent;}
        100% { background-color: #151515;} /*this will make it reapear at 100% which is at 1 second*/
    }


/*images in index*/
    #body-index img{
        display: block; /*displays it as a block*/
        width: 100%; /*want the image to be 100% so that you see everything on the image*/
        height: auto; /*auto so that the height depends on the width*/
    }
    
    /*Section C*/
    #section-c {
        background: #252525;
        padding: 20px 1em 17px;
    }

    /*the title pn homepage saying my projects*/
    #section-c h2{
        font-size: 20px;
        font-weight: lighter;
        margin-top: 24px;
    }

    /*title of projects*/
    #section-c .card-title{
        font-size: 18px;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        padding-bottom: 14px;
        padding-top: -15px;
    }
    /*projects*/
    #section-c ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #section-c li{
        margin-bottom: 1em;
        background: #ffffff;
        color: #252525;
    }
    
    .card-content{
        padding: 1.5em;
    }

/*SECTION D*/
/*dark wave*/

    .section-d{
        box-sizing: border-box; /*turns it into a border-box*/
    }

    .section-c-end-1{
        margin-top: -1px; /*placement of the dark wave*/
        display: block; /*makes it visible*/
    }
    .container-d p{
        color: #252525;
        line-height: 0.5em;
        
    }

    .container-d{
        margin-top: 1em;
        margin-left: 5%; /*spacing on left seide*/
        width: 90%; /*how big it should be compared to the width of the screen*/
    }

    .skill-p{
        text-align: left; /*puts the title of my skill to the left*/
        color: #252525;
    }

    #skill-title{
        color: #252525;
        font-size: 20px;
        font-weight: lighter;
        margin-top: 24px;
    }

    .skill-container{
        width: 100%; /*sizing*/
        background: #ddd; /*color of skill bar container*/
    }

    .skill{
        text-align: right;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #333333; /*precent color*/
    }

    .html{
        width: 36%; /*width of the skill itself*/
        background-color: #00A600; /*color that showcases my skill*/
    }

    .CSS{
        width: 15%;/*width of the skill itself*/
        background-color: #2a9df6;/*color that showcases my skill*/
    }

    .social-media{
        width: 68%;/*width of the skill itself*/
        background-color: #c01b1b;/*color that showcases my skill*/
    }

    .social-media{
        width: 65%;/*width of the skill itself*/
        background-color: #c01b1b;/*color that showcases my skill*/
    }

    .lightroom{
        width: 95%;/*width of the skill itself*/
        background-color: #1167b1;/*color that showcases my skill*/
    }

    .ux-design{
        width: 65%;/*width of the skill itself*/
        background-color: #f1a3ad;/*color that showcases my skill*/
    }


    /*btn for skills*/
    .btn3{
        text-decoration: none;
        background: #FCB905;
        display: inline-block;
        color: #ffff;
        padding: 0.7375em 0.85em;
        border-radius: 2em;
        font-size: 9.6px;
        margin: 16px 0;
        padding-bottom: 0.7375em;
    }
    
    .btn3:hover{
        color: #FCB905;
        background: #111111;
    }

    /*SECTION E*/
    #footer-bølge{
        margin-top: -7px; /*placement of the second wave*/
        display: block; /*turn it into a block to amke it visible*/
    }


 /*FOOTER*/
 #footer{
    padding: 0.6em;
    padding-bottom: 1.5em;
    background: #252525;
    color: #ffffff;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: -3px;
    
    
}

#footer a{
    color: #FCB905;
    text-decoration: none;
}

#footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer ul a{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#foot{
    display: grid; /*displays the grid*/
    grid-gap: 3px; /*the added gap in between*/
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr  1fr 1fr ; /*the way that it should be displayed. this splits it into 3 parts that have the same length between eachother*/
}




/*@media for samller devices such as iphone SE*/ /*mainly for the homepage and nav bar*/
@media (max-width: 320px){
    header .logo{
        font-size: 18px; 
    }}

    @media(min-width: 700px){

    
        #section-c .card-content{
            margin-left: 300px;
        }
    
        #section-c ul{
            display: flex;
            justify-content: space-around;
        }
    
        #section-c li{
            width: 47%;
        }

        #section-c .grid-project li{
            width: 4%;
        }
    }


/*------------------------   MY PROJECTS   -----------------------------*/


/* this selecs and applies to every element before and after CSS pseudo elements */
#body-projects *,           
#body-projects *::before,
#body-projects *::after {
  box-sizing: border-box;
}

/*CSS FOR THE BODY*/
#body-projects { 
    padding-top: 50em;
  color: #272727;
  font-family: Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.5;
  padding: 1rem;
  background: #252525;
}

/*the cards themselves*/
.my-projects-cards-title-section{
  max-width: 100%; /*the largest width the cards can have*/
  margin: 0 auto; /*the auto will help center it*/
}

/* the title above the cards*/
.my-projects-cards-title-section h1 { 
    margin-top: 2em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    color: #fff;
}

.my-projects-cards-title-section img {
    display: block; /*displays it (if it had said none it wouldnt have been visible*/
    width: 100%; /*width of the picture*/
    height: 20rem; /*the height of the picture*/
    object-fit: cover; /*does so the it fits the cove of the box. this does so that the height or width won't get weirdly affected*/
}

.btn5  {
  color: #252525;
  padding: 0.8rem;
  text-transform: uppercase; /*makes it big letters*/
  display: block; /*displays it as a block*/
  width: 100%; /*width of the button*/
  padding: 1.5rem; /*around the button*/
  font-size: 1.2rem; 
  text-align: center; /*centers the button*/
  color: #FCB905; /*color of text from button*/
  background: #333333; /*background of button*/
  border: none; /*no borders*/
  border-radius: 0rem; /*makes the button rectangle*/
  transition: 0.2s; /*transition for it to change color*/
  cursor: pointer; /*shows that it is clickable*/
  letter-spacing: 0.1rem;
  text-decoration: none;
}



a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.card-btn1:hover,
.card-btn1:active { /*activates the hover so that the buttons has an hover effect*/
    background-color: #FCB905;
    color: #252525;
}

.card-btn1 span{
    margin-left: 1rem; /*how much it moves when the transition is activated*/
    transition: 0.2s; /*time for the arrow to apear*/
}

.card-btn1:hover span,
.card-btn1:active span{
    margin-left: 1.5rem; /*how much the arrow should move when the mouse is on the button (when its transitioning)*/
}

.cards1 {
  display: flex; /*flexes the cards so that they are in collumns*/
  flex-wrap: wrap; /*wraps it up in a way they puts it in rows*/
  text-decoration: none; /*removes text decorations*/
  list-style: none; /*removes list style*/
  margin: 0; /*does so it doesnt gets pushed*/
  padding: 0; /*does about the same thing*/
  transition: 0.2s; /*transition for the card to move when you have your mouse on it*/
}

.cards_item1 {
  display: flex; /*flexes the cards so that they are in collumns*/
  padding: 1rem; /*pushes everthing with 1 rem*/
}

.card1:hover{
    transform: translateY(-2%); /*how much the cards/ boxes move when the mouse is on it*/
    transition: 0.5s; /*transition time*/
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.41); /*shadow applied when the arrow is on the box*/
}

@media (min-width: 640px) {
  .cards_item1 {
    width: 50%; /*changes the width to 50%*/
  }
}

@media (min-width: 896px) {
  .cards_item1 {
    width: 33.33%; /*changes the width to 33,33% when the screensize is min 896px in width*/
  }
}

.card_content1 { /*card/ box with text*/
  padding: 1rem;
  background: #fff;
}

.card_title1 { /*title of all the cards/ boxes*/
  color: #252535;
  font-size: 1rem;
  font-weight: 600;
  margin: 0px;
  letter-spacing: 0.1rem;
}

.card_text1 { /* the text of the cards*/
  color: #252525;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.card1 {
    background-color: #fff; /*changes color of background of card but is underneath*/
    border-radius: 0; /*changes the border radius to 0 so that it won't get round*/
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); /*adds a small barely visible shadow with a visibility of 0.1*/
    display: flex; 
    flex-direction: column;
    overflow: hidden;
  }





/*----------------TargetLeasing OG DE FLESTE ANDRE PROJEKTER-------------*/

/*body*/
#target-body{
    background: #252525;
    font-family: 'Helvetica', sans-serif;
}

/* SECTION A */
.target-image1{
    max-width:100%;
    height:auto;
    margin-top: 50px;
}
    
    #target-body img{
    vertical-align: middle;
    border-style:none;
    }

    .section-a-target{
        max-width:1500px;
    }

    /*SECTION B-G*/
body .project-about {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    font-family: 'Helvetica', sans-serif;
    color: #FCB905;


}

body .project-about-p{
    margin-top: -1.5em;
    font-family: 'Helvetica', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
}

/*Section G*/
body .koncept-tl{
    margin-bottom: 2.8em;
}

/*------ youtube nicoline -------*/

body .nicoline-youtube{
    text-align: center; 
    margin-top: 50px;
}

#target-body p{
    padding-right: 10%;
    padding-left: 10%;
}

.nicoline-youtube{
    position: relative;
    width: 100%;
    padding-bottom: 40%; 
    height: 10;
  }
  .nicoline-youtube iframe{
    position: absolute; /*turn it into */
    top:0; /*placement of top*/
    left: 0; /*place of the left side. this puts the video in the middle. without this it would'nt be in the middle, and would'nt be responsive*/
    width: 100%; /*how much of the video should be visible in width*/
    height: 100%; /*how much of the video should be visible in height*/
    z-index: 1; /*does so that it is behind the burger menu when activated*/
  }

  /*--------------above earth------------*/
  /* SECTION A */
.target-image2{
    max-width:70%;
    height:auto;
    margin-top: 50px;
    margin-bottom: -4%;
}
    
    #section-a-target-2 img{
    vertical-align: middle;
    border-style:none;
    }

    .section-a-target2{
        max-width:1500px;
    }

    /*----------------ABOUT ME-----------------*/



/* this selecs and applies to every element before and after CSS pseudo elements */
#body-about-me *,           
#body-about-me *::before,
#body-about-me *::after {
  box-sizing: border-box;
}


#body-about-me li{
    border: none;
}


/*CSS FOR THE BODY*/
#body-about-me { 
    background-color: #252525;
  color: #272727;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.5;
  padding: 1rem;
  
}




#section-a-projects2{
    background-color: #fff;
}


/*the cards themselves*/
.my-projects-cards-title-section2{
  max-width: 1300px; /*the largest width the cards can have*/
  margin: 0 auto; /*the auto will help center it*/
}

/* the title above the cards*/
.my-projects-cards-title-section2 h1 { 
    margin-top: 2em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    color: #252525;
}

.my-projects-cards-title-section2 img {
    display: block; /*displays it (if it had said none it wouldnt have been visible*/
    border: none;
    width: 100%; /*width of the picture*/
    height: 20rem; /*the height of the picture*/
    object-fit: cover; /*does so the it fits the cove of the box. this does so that the height or width won't get weirdly affected*/
}




.cards2 {
  display: flex; /*flexes the cards so that they are in collumns*/
  flex-wrap: wrap; /*wraps it up in a way they puts it in rows*/
  text-decoration: none; /*removes text decorations*/
  list-style: none; /*removes list style*/
  margin: 0; /*does so it doesnt gets pushed*/
  padding: 0; /*does about the same thing*/

}

.cards_item2 {
  display: flex; /*flexes the cards so that they are in collumns*/
  padding: 0rem; /*pushes everthing with 1 rem*/
}



@media (min-width: 640px) {
  .cards_item2 {
    width: 50%; /*changes the width to 50%*/
  }
}

@media (min-width: 896px) {
  .cards_item2 {
    width: 33.33%; /*changes the width to 33,33% when the screensize is min 896px in width*/
  }
}

.card_content2 { /*card/ box with text*/
  padding: 1rem;
  background: #fff;
}

.card_title2 { /*title of all the cards/ boxes*/
  color: #252535;
  font-size: 1rem;
  font-weight: 600;
  margin: 0px;
  letter-spacing: 0.1rem;
}

.card_text2 { /* the text of the cards*/
  color: #252525;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.card2 {
    background-color: #fff; /*changes color of background of card but is underneath*/
    border-radius: 0; /*changes the border radius to 0 so that it won't get round*/

    display: flex; 
    flex-direction: column;
    overflow: hidden;
  }




  /*-------------------- CONTACT---------------------*/

/*css that will only affect the body of the contact page*/
#body-contact{
    background: #252525; /*changes the background of the contact page*/
}

/*title contact*/
#title-contact h2{
font-size: 20px; /*turns the font-size into 20px*/
font-weight: lighter; /*turns it into a ligthter font*/
padding-top: 50px; /*space between the top and the title*/
color: #ffff; /*changes the color of the title*/
text-align: center; /*aligns the title to the center*/
}


/*paragraph*/
.text-a-contact{
    margin-left: 5%; /*how much it gets pushed in from the left side*/
    margin-right: 5%; /*how much it gets pushed in from the right side*/
}

/*only affects my mail*/
p .mail{
    color: #FCB905; /*chnages the color of my mail in the paragraph*/
}


/*the box itself*/
.box{
    background-color: #fff; /*makes the box that the formular is on white*/
    margin-top: 2%; /*closure so the section above*/
    margin-left: 10%; /*how much it gets pushed in from the left side*/
    margin-right: 10%; /*how much it gets pushed in from the right side*/
    padding: 20px; /*padding all around the boxes*/
    align-items: center; /*aligns it to the center*/
  }


  /*title of the different boxes (woudld'nt work without using an id)*/
  #label{
      color: #252525; /*changes it color*/
    display: block; /*displaying it as a block*/
    text-align: center; /*align it to the center*/
    line-height: 140%; /*line height between the deffirent lines*/
    font-size: 0.85em; /*the font size of the title above the boxes*/
}

/*the text box the the message*/
#text-box{
    height: 150px; /*the height of the box with the text*/
    font-family: Helvetica, sans-serif; /*changes the font so that it matches the others*/
}

/*css that will affect all the boxes, both the text box, select box and textarea*/
input[type=text],input[type=email], textarea, select {
    border: 0.5px solid #333333; /*this will add a border around the boxes that is 0.5px*/
    box-sizing: border-box;
    margin-top: 4px; /* margin between every box on top */
    margin-bottom: 12px; /* adds a margin under ever box*/
    width: 100%; /*this is the size of the boxes*/
    resize: vertical; /* does so that you can only resize the message box vertical. makes it more userfriendly */
    padding: 8px; /* this will add padding which will also change the size of the boxes*/ 
  }
  
  /* button of the contact formula*/
  input[type=submit] { /*the button is a type submit*/
    color: #fff; /*text color of the button*/
    background: #252525; /*background color of the button*/
    border-radius: 20px; /*roundness of the button*/
    border: none; /*removes border so that there's no mark around it*/
    padding: 12px 27px; /*height and width of the button*/
    cursor: pointer; /*shows that the button is clickable*/
  }
  
  /* hover effect when the mouse is on the button*/
  input[type=submit]:hover { /*once again the button is a type=submit*/
    columns: #252525; /*color of the text when the mouse is above the button*/
    background-color: #FCB905; /*color that the button chnages into once the mouse is aboce it*/
  }
  
 
/*extra css code for the footer*/
#body-contact #footer{
    margin-top: 4%;
}




/*------- MEDIA QUERIES PRIMARILY FOR THE NAVIGATION--------*/


/*@media for the menu for everything smaller than 990 pixels*/
@media (max-width: 990px){
    header{
        padding: 0 20px;
    }

/*made the bruger menu visible on smaller devices (to make it responsive)*/
    .burger-menu{
        display: block;
    }

/*made the burger menu usable (on smaller devices)*/
    header nav{
        /*display: none;*/
        
        position: absolute; /*makes invisible so that you'll see the main page*/
        width: 100%;
        height: calc(100vh - 50px); /*100vh does so that the menu bare on phone uses all the screen. retracting 50px as the 100vh uses abit more than the whole screen*/
        background: #151515;
        z-index: 2; /*puts the burger menu infront as i had trouble with it either being behind the youtbe video or covering it so that the youtube video wouldn't play*/
        top: 50px; /*how far down it is places from the top*/
        left: -100%; /*does so that the menu bar comes from the left side. if it was without the -, it would have come from the right side*/
        transition: 0.5s; /*how long it takes for the menu bare to apear. 0.5s gives it time to show the transition*/
    }

/*code for the header nav. when its active the menu bar will apoear at the middle of the screen instead of being on the left side*/
    header nav.active{
        left: 0;
    }

/*code for the menu on smaller devices*/
    header nav ul{
        display: block; /*alignes the menu downwards*/
        text-align: center; /*centers it so that it isnt on the left side*/
    }

/*box code*/
    header nav ul li a{
        border-bottom: 1px solid #333333; /*adds a line around the menu options so that you can differentiate between the boxes of the meu options and the the limits and where it ends*/
    }
}


@media (max-width: 340px){
header .logo{
    font-size: 15px;

}}

@media (max-width: 299px){
    header .logo{
        font-size: 11px;
    
    }}


    @media (max-width: 235px){
        header .logo{
            font-size: 10px;
        
        }}

    /*makes the home page more readable when desktop*/

        @media (min-width: 830px){
        #section-a .bg-image{
            height: 580px;
        }
    #section-a{
        height: 580px;
    }
    .content-text{
        padding-top: 435px;
        margin-left: 20px;
        text-align: center;
        font-size: 23px;
    }
    
        #section-a h1{
    
            padding-bottom: 0;
            font-size: 0.9em;
            font-family: Helvetica, sans-serif;
            font-weight: normal;
        }

        .btn, .btn2, .btn3{
            text-decoration: none;
            background: #FCB905;
            display: inline-block;
            color: #ffff;
            padding: 0.7375em 0.85em;
            border-radius: 2em;
            font-size: 13px;
            margin: 0.5em 0;
            padding-bottom: 0.7375em;
        }
        .btn3{
            margin-top: 20px;
        }

}