@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap');

/*Core style*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 
}

/*Navigation*/
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #151515;
    width: 100%;
    box-sizing: border-box;
}

/*logo in the navigation*/
header .logo{
    color: orange;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    float: left;
    font-weight: bold;
}

/*push the menu options to the right*/
header nav{
    float: right;
}

/*display flex*/
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

/*removed liststyle*/
header nav ul li{
    list-style: none;
}

/*adapted the menu optiosn to the nav bar on desktop*/
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

/*added a hover effect and a location effect*/
header nav ul li a:hover,
header nav ul li a.active{
    color: orange;
    background: #000000;
}

/*added the bruger menu to the menubare and removed it for desktop*/
.burger-menu{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*BTN*/
.btn{
    text-decoration: none;
    background: orange;
    display: inline-block;
    color: #ffff;
    padding: 0.7375em 0.85em;
    border-radius: 2em;
    font-size: 9.6px;
    margin: 0.5em 0;
    padding-bottom: 0.7375em;
}

.btn:hover{
    color: orange;
    background: #fff;
}


/*SECTION A*/
#section-a{
    min-height: 328px;
    color: #D8D3C7;
    text-align: left;
    line-height: 0.4375em;
}

#section-a .bg-image{
    position: absolute;
    background-image: url("me1.png");
    display: block;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 328px;
    z-index: -1;
    opacity: 1;
    }
    
    .content-text{
    padding-top: 265px;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
}

    #section-a h1{

        padding-bottom: 0;
        font-size: 0.9em;
        font-family: Helvetica, sans-serif;
        font-weight: normal;
    }
    
    #section-a .content-wrap{
        padding: 0 1.5em;
    }  

    /*SECTION-B*/
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container h1{
        font-size: 1.4rem;
        font-weight: lighter;
        letter-spacing: 0.1rem;
        text-align: center;
        overflow: hidden;
        padding: 1rem;
    }

    .typed-text{
        font-weight: lighter;
        color: orange;
    }

    /*the blink type animation*/
    .writting-cursor{
        display: inline-block;
        width: 3px;
        background-color: #151515;
        margin-left: 0.1rem;
        animation: blink 1s infinite;
    }

    .writting-cursor.typing{
        animation: none;
    }
    /*here i define the apearance of the blinking type animation*/
    @keyframes blink{
        0% { background-color: #151515;} /*0% of the 1s it will be white*/
        49% { background-color: #151515;}
        50% { background-color: transparent;} /*50% of the animation of the one second it will be transparent which will make it blink*/
        99% { background-color: transparent;}
        100% { background-color: #151515;} /*this will make it reapear at 100% which is at 1 second*/
    }

/*@media for the menu for everything smaller than 990 pixels*/
@media (max-width: 990px){
    header{
        padding: 0 20px;
    }

/*made the bruger menu visible on smaller devices (to make it responsive)*/
    .burger-menu{
        display: block;
    }

/*made the burger menu usable (on smaller devices)*/
    header nav{
        /*display: none;*/
        position: absolute; /*makes invisible so that you'll see the main page*/
        width: 100%;
        height: calc(100vh - 50px); /*100vh does so that the menu bare on phone uses all the screen. retracting 50px as the 100vh uses abit more than the whole screen*/
        background: #151515;
        top: 50px; /*how far down it is places from the top*/
        left: -100%; /*does so that the menu bar comes from the left side. if it was without the -, it would have come from the right side*/
        transition: 0.5s; /*how long it takes for the menu bare to apear. 0.5s gives it time to show the transition*/
    }

/*code for the header nav. when its active the menu bar will apoear at the middle of the screen instead of being on the left side*/
    header nav.active{
        left: 0;
    }

/*code for the menu on smaller devices*/
    header nav ul{
        display: block; /*alignes the menu downwards*/
        text-align: center; /*centers it so that it isnt on the left side*/
    }

/*box code*/
    header nav ul li a{
        border-bottom: 1px solid #333333; /*adds a line around the menu options so that you can differentiate between the boxes of the meu options and the the limits and where it ends*/
    }
}

/*@media for samller devices such as iphone SE*/
@media (max-width: 320px){
    header .logo{
        font-size: 18px; 
    }}